<div class="container">
    <div class="footer-main">
        <div class="footer-column">
            <h3>Social Media</h3>
            <a href="https://www.instagram.com" class="footer-link">Instagram</a>
            <a href="https://www.facebook.com" class="footer-link">Facebook</a>
            <a href="https://www.twitter.com" class="footer-link">Twitter</a>
        </div>
        <div class="footer-column">
            <h3>Helpful Links</h3>
            <a href="src/join/index.html" class="footer-link">Join Us</a>
        </div>
        <div class="footer-column">
            <h3>Interesting Tidbits</h3>
            <a href="#" class="footer-link">Crazy Cat Ladies Anonymous</a>
            <a href="#" class="footer-link">Our List of Favorite Vets</a>
            <a href="#" class="footer-link">Jackson Galaxy's Fanpage</a>
        </div>
    </div>
    <div class="footer-bottom">
        <span class="copyright">&copy; Kjirsten Hernandez 2024</span>
        <a href="https://facebook.com" target="_blank" class="footer-social">
            <img src="src/public/images/social/fb-icon.png" alt="fb icon" width="25">
        </a>
        <a href="https://twitter.com" target="_blank" class="footer-social">
            <img src="src/public/images/social/twitter-icon.png" alt="twitter icon" width="25">
        </a>
        <a href="https://instagram.com" target="_blank" class="footer-social">
            <img src="src/public/images/social/insta-icon.png" alt="instagram icon" width="25">
        </a>
    </div>
</div>